/* styles.css */
@keyframes borderMove {
  0% {
    border-color: rgba(99, 102, 241, 1);
    box-shadow: 0 0 5px rgba(99, 102, 241, 0.5);
    transform: scale(1);
  }
  25% {
    border-color: rgba(99, 102, 241, 1);
    box-shadow: 0 0 15px rgba(99, 102, 241, 0.7);
    transform: scale(1.05);
  }
  50% {
    border-color: rgba(99, 102, 241, 1);
    box-shadow: 0 0 25px rgba(99, 102, 241, 1);
    transform: scale(1);
  }
  75% {
    border-color: rgba(99, 102, 241, 1);
    box-shadow: 0 0 15px rgba(99, 102, 241, 0.7);
    transform: scale(1.05);
  }
  100% {
    border-color: rgba(99, 102, 241, 1);
    box-shadow: 0 0 5px rgba(99, 102, 241, 0.5);
    transform: scale(1);
  }
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px; /* Fully rounded */
  border: 2px solid transparent; /* Initial border */
  position: relative;
  animation: borderMove 3s infinite; /* Continuous border animation */
  padding: 10px; /* Add some padding for the effect */
}
